
body {
    font-family: Calibri;
}

h1 {
    position: relative;
    color: white;
    text-align: center;
    top: 50px;
    width: 400px;
    margin: 0 auto;
}

p {
    position: relative;
    color: white;
    text-align: center;
    top: 50px;
    width: 400px;
    margin: 0 auto;
}


.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
}

#banner {
    background-image: url("web_image1.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 400px;
    width: 100%;
}

#banner .intro h1 {
    position: relative;
    color: white;
    text-align: center;
    top: 50px;
    width: 400px;
    margin: 0 auto;
}

#banner .intro p {
    position: relative;
    color: white;
    text-align: center;
    top: 50px;
    width: 400px;
    margin: 0 auto;
}

#education {
    background-image: url("web_image1.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 400px;
    width: 100%;
}

#projects {
    background-image: url("web_image1.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 400px;
    width: 100%;
}
#contact {
    background-image: url("web_image1.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 400px;
    width: 100%;
}